<footer id="footer" class="cover_Background cover_Shadow d-flex">
    <div class="container align-self-center">
      <div class="row m-auto p-xl-5">
        <div class="col-5 footer_images p-xl-5">
          <img
            loading="lazy"
            width="auto"
            height="auto"
            src="/Assets/images/stone_2.png"
            alt=""
          />
        </div>
        <div class="col-7 footer_newsletter align-self-center">
          <div class="row newsletter_Text">
            <p>Want to stay in touch ?</p>
            <h2>NEWSLETTER SUBSCRIBE</h2>
            <p>
              In order to start receiving our news, all you have to do is
              enter your email address. Everything else will be taken care of
              by us. We will send you emails containing information about
              game. We don’t spam.
            </p>
          </div>
          <form class="row g-3 newsletter_Form">
            <div class="col-8">
              <input
                type="email"
                class="w-100 h-100 form-control"
                id="inputEmail"
                aria-describedby="emailHelp"
                placeholder="youremail@binar.co.id"
              />
              <label class="inputLabel" for="inputEmail"
                >Your email address</label
              >
            </div>
            <div class="col-4 text-center">
              <button
                type="submit"
                class="w-100 h-100 btn btn-primary orangeButton fw-bold"
              >
                Subscribe Now
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="row footer_nav m-auto d-grid">
        <div class="col footer_navLeft">
          <ul class="d-flex">
            <li>
              <a href="#main">MAIN</a>
            </li>
            <li>
              <a href="#about">ABOUT</a>
            </li>
            <li>
              <a href="#gamefeatures">GAME FEATURES</a>
            </li>
            <li>
              <a href="#systemrequirements">SYSTEM REQUIREMENTS</a>
            </li>
            <li>
              <a href="#quotes">QUOTES</a>
            </li>
          </ul>
        </div>
        <div class="col footer_navRight d-flex">
          <a href="">
            <img src="/Assets/svg/facebook.svg" alt="facebook" />
          </a>
          <a href="">
            <img src="/Assets/svg/twitter.svg" alt="twitter" />
          </a>
          <a href="">
            <img src="/Assets/svg/youtube.svg" alt="youtube" />
          </a>
          <a href="">
            <img src="/Assets/svg/twitch.svg" alt="twitch" />
          </a>
        </div>
      </div>
      <div class="row footer_text d-flex align-items-center w-100 m-auto">
        <div class="col">
          <p>&COPY; 2021 Your Games.Inc. All Rights Reserved</p>
        </div>
        <div class="col footer_misc">
          <a href="">PRIVACY POLICY</a>
          <span>|</span>
          <a href="">TERMS OF SERVICES </a>
          <span>|</span>
          <a href="">CODE OF CONDUCT </a>
        </div>
      </div>
    </div>
  </footer>